/* src/index.css o src/App.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Asegúrate de importar la fuente si no está por defecto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212; /* Fondo oscuro global */
  color: #FFFFFF; /* Color de texto global por defecto */
  width: 100%;
}

/* Puedes añadir esto si no tienes Google Fonts en tu index.html */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');